

/* Button color */

.container {
    margin-top: 5%;
}

.title {
    font-size: 24px;
    color: maroon;
    
}
.btn-maroon {
    background-color: maroon;
    border-color: maroon;
    color: white;
    width: auto;
    padding: 0.375rem 0.75rem;
}

.btn-maroon:hover {
    background-color: #c32148;
    border-color: #c32148;
}

/* Responsive styling */
@media (max-width: 767px) {

    .col-md-6 {
        width: 100%;
    }


}

